<%- include ("../partials/header") %>

        <div class="container mt-5">
            <div class="row text-center">
                <!-- First ( Create Class ) -->
                <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                    <div class="card svgHome">
                        <a href="/professor/class/new"> 
                            <img src="/images/addComplaint.svg" class="card-img-top" alt="logo"/>
                            <p>Create Class</p>
                        </a>
                    </div>
                </div>
                <!-- Second ( View Classes ) -->
                <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                    <div class="card svgHome">
                        <a href="/professor/class"> 
                            <img src="/images/viewClass.svg" class="card-img-top" alt="logo"/>
                            <p>View Classes</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

<%- include ("../partials/footer") %>