<%- include ("../partials/header") %>
<div class="container mt-5">
    <div class="row text-center">
        <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
            <div class="card svgHome">
                <a href="/student/classes"> 
                    <img src="/images/viewClass.svg" class="card-img-top" alt="logo"/>
                    <p>View Classes</p>
                </a>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
            <div class="card svgHome">
                <a href="/student/complaint"> 
                    <img src="/images/addComplaint.svg" class="card-img-top" alt="logo" />
                    <p>View Complaints</p>
                </a>
            </div>
        </div>
    </div>
</div>
<%- include ("../partials/footer") %>